
<div class="container">
    <div class="col-md-12 record text-center">
      <h2>事前登録の応募が完了しました!</h2>
      <p class="lead">ありがとうございます! β版登録へのご案内連絡が届くまでお待ちください。</p>
      <hr>
    </div>
</div>

           