@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'mplus-2p-light';
  background: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mplus-2p-light';
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

#brand {
  color: #999;
  font-size: 25px;
}

#wrapper {
  padding: 30px 0;
}

#main_content {
  padding:  20px 0;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: #fff;
}

#login_btns {
  margin: 30px 0;
}

#login_btns a {
  margin: 5px 0 0 0;
}


.text-muted {
  color: #fff;
}

.navbar-toggle i {
  color:#fff;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}