@charset "utf-8";

/* COMMON
------------------------------------------------------------------------*/
html {
  height:100%;
}

body {
  padding:0;
  height:100%;
  font-family: 'mplus-2p-light';
  background: #212121;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mplus-2p-light';
}

#main_content {
  margin: 65px 0;
  padding: 10px 0;
  background: #fff;
  border-radius: 5px;
}

.loder-img {
  margin: 100px 0;
}

.loder-img img {
  width:30px;
  height:30px;
}

.error-msg {
  color: #e60a0a;
}

.alert-box {
  position: absolute;
  top: 10px;
  color: #000;
  background: rgba(0,0,0,0.4);
}

/* Nav
------------------------------------------------------------------------*/
#brand {
  color: #999;
  font-size: 25px;
}

.global-nav {
  background: #212121;
  font-size: 15px;
}

.navbar-toggle i {
  color:#fff;
}

@media (max-width: 768px) { 
  .dropdown-menu li a {
      color: #fff;
  }
}

/* book_search(model)
------------------------------------------------------------------------*/

#book_result a img {
  margin: 1%;
  width: 80px;
  height: 120px;
}

.rollover img:hover {
  opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter: “alpha( opacity=80 )”;
}


/* thumbnail
------------------------------------------------------------------------*/
 
.questionBox {
  margin-bottom: 20px;
  padding-top:10px;
  height: 300px;
}

.questionBox .caption img {
  width:80px;
  height:120px;
}

.item-box {
  min-height: 1px;
  padding: 10px;
}

.ans-card p {
  color: #fff;
}

.user-unit img {
  width: 30px;
  height: 30px;
}

/*分類まだ*/
#ans_form {
  margin: 25px 0 35px 0;
}

.emerald {
  background: #1abc9c;
}

.brown {
  background: #624242;
}

.blue {
  background: #3498DB;
}

.purple {
  background: #9B59B6;
}

.navy {
  background: #34495E;
}

.yellow {
  background: #F1C40F;
}

.orange {
  background: #E67E22;
}

.red {
  background: #E74C3C;
}

.black {
  background: #070002;
}

.pink {
  background: #fe4e89;
}

.caption h4{
  color: #fff;
}

.caption p{
  color: #fff;
}

.book-thum img {
   width: 80px;
   height: 120px;
}

.form-img img {
  width: 80px;
  height: 120px;
}

.ans-img img {
  width: 80px;
  height: 120px;
}

.card img {
  width: 80px;
  height: 120px;
}

/*Card*/
.support-done {
  color: #fc41c4;
}

.thumbnail {
  box-shadow: 0 4px 6px -6px #777;
}

.book-thum {
  padding: 0 0 10px 0;
}

/*profire*/
.question-content {
  position: relative;
  font-weight: bold;
  padding: 3px 3px 0 3px;
  background: #ffffff;
  border: 3px solid #f5f5f5;
}
.question-content:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.question-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 30px;
  margin-left: -30px;
}
.question-content:before {
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f5f5f5;
  border-width: 31px;
  margin-left: -31px;
}

.page-nav {
  visibility: hidden;
}
