@charset "utf-8";

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #624333;
  font-family: 'mplus-2p-light';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mplus-2p-light';
}

.form-signin {
  
  padding: 15px 15px 25px 15px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

/* Common
------------------------------------------------------------------------*/

#book_list a img {
  margin: .5%;
  width: 120px;
}

.rollover img:hover {
  opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter: “alpha( opacity=80 )”;
}
