<div class="container">

   <div class="page-header">
      <h3>404エラー</h3>
   </div>

  　<div class="container text-center">
      <p class="lead">申し訳ございません。<br>
      指定されたページはみつかりません。</p>
      <?php 
         echo $this->Html->link('TOPに戻る',
            array(
               'controller' => 'Books',
               'action'     => 'activeShow',
            )
         );
      ?>
　　</div>
</div>
